---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import PricingCard from "@components/pricing.astro";

const bikeDetails = {
  name: 'Affordable Bike Rentals in Victoria',
  price: 15,
  currency: 'CAD',
  rentalUrl: 'http://bikesvictoria.com/rent',
  startTime: '2024-12-21T00:00:00',
  endTime: '2024-12-21T23:59:59',
  agentName: 'Bikes Victoria',
};
---

<Layout title="">
  <Container>
    <Hero />
    <Features />
  </Container>

  <Container class="flex justify-between items-start space-x-8 mt-20">
    <!-- Left Side Text -->
    <div class="w-1/2">
      <h2 class="text-2xl font-bold">Wall of Love</h2>
      <p class="text-lg mt-2 text-gray-600">
        Here are some kind words about our services.
      </p>
    </div>

    <!-- Right Side Embed -->
    <div class="w-1/2 space-y-8"> <!-- Added space-y-8 for consistent vertical spacing -->
      <script src="https://widget.senja.io/widget/4027efbf-fd47-41fe-aaff-4d8deff65e28/platform.js" type="text/javascript" async></script>
      <div class="senja-embed" data-id="4027efbf-fd47-41fe-aaff-4d8deff65e28" data-mode="shadow" data-lazyload="false" style="display: block;"></div>
    </div>
  </Container>

  <script type="application/ld+json">
    {`
      {
        "@context": "https://schema.org",
        "@type": "RentAction",
        "agent": {
          "@type": "Organization",
          "name": "${bikeDetails.agentName}"
        },
        "object": {
          "@type": "Product",
          "name": "${bikeDetails.name}",
          "offers": {
            "@type": "Offer",
            "priceCurrency": "${bikeDetails.currency}",
            "price": "${bikeDetails.price}",
            "url": "${bikeDetails.rentalUrl}"
          }
        },
        "startTime": "${bikeDetails.startTime}",
        "endTime": "${bikeDetails.endTime}"
      }
    `}
  </script>
</Layout>

